{% extends "./base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <!-- Product image -->
                <img class="img-fluid mx-auto d-block" alt="{{ product.name }}" src="{{ product.image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4">
                    <!-- Product title -->
                    {{ product.name | capfirst}}
                </h1>
                <strong>
                    <!-- Product brand -->
                    {{ product.brand | capfirst }}
                </strong>
                <hr>
                <br>
                <p>
                    <!-- Product description -->
                    {{ product.description | capfirst }}
                </p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6"> Price </div>
                            <div class="col-6 text-end"><span class="h4 fw-bold">£
                                    <!-- Product price -->
                                    {{ product.price }}
                                </span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                <label for="select">Qty</label>
                                &nbsp;
                                <select id="select">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="col-6 text-end">
                                <button type="button" id="add-button" value="{{ product.id }}"
                                    class="btn btn-secondary btn-sm">
                                    Add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="redirect_url" id="redirect-url" value="{{ request.path }}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-9">

                <form action="{% url 'submit_review' product.id %}" method="POST">
                    {% csrf_token %}
                    <h5>Write your Review</h5>
                    <div>
                        <!-- Rating stars -->
                        <label> How do you rate this product? </label>
                        <br>
                        <div class="rate">
                            <input type="radio" name="rating" id="rating10" value="5" title="5"><label
                                for="rating10"></label>
                            <input type="radio" name="rating" id="rating9" value="4.5" title="4.5" class="half"><label
                                for="rating9"></label>
                            <input type="radio" name="rating" id="rating8" value="4" title="4"><label
                                for="rating8"></label>
                            <input type="radio" name="rating" id="rating7" value="3.5" title="3.5" class="half"><label
                                for="rating7"></label>
                            <input type="radio" name="rating" id="rating6" value="3" title="3"><label
                                for="rating6"></label>
                            <input type="radio" name="rating" id="rating5" value="2.5" title="2.5" class="half"><label
                                for="rating5"></label>
                            <input type="radio" name="rating" id="rating4" value="2" title="2"><label
                                for="rating4"></label>
                            <input type="radio" name="rating" id="rating3" value="1.5" title="1.5" class="half"><label
                                for="rating3"></label>
                            <input type="radio" name="rating" id="rating2" value="1" title="1"><label
                                for="rating2"></label>
                            <input type="radio" name="rating" id="rating1" value="0.5" title="0.5" class="half"><label
                                for="rating1"></label>
                        </div>
                        <br>

                        Review Title:
                        <input type="text" class="form-control" name="subject">
                        <br>
                        Review:
                        <textarea name="review" class="form-control" rows="4"></textarea>
                        <br>
                        {% if user.is_authenticated %}
                        {% if order %}
                        <input type="submit" class="btn btn-primary" value="Submit Review">
                        {% else %}
                        <p>You must have purchased this product to psot a review.</p>
                        {% endif %}
                        {% else %}
                        <p>You must be logged in to post a review. <span><a href="">Login</a></span></p>
                        {% endif %}
                    </div>
                    {% include 'includes/alerts.html' %}
                </form>
                <br><br>
                <header class="section-heading">
                    <h3>Customer Reviews</h3>
                </header>
                {% for review in reviews %}
                <article class="box mb-3">
                    <div class="icontent w-100">
                        <img src="" class="img-xs icon rounded-circle">
                        <div class="text">
                            <span class="date text-muted float-md-right"> {{review.updated_at}}</span>
                            <h6 class="mb-1">{{review.user.username}}</h6>
                            <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                                        aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6 class="mb-1">{{review.subject}}</h6>
                        <p> {{ review.review}}
                        </p>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </main>
    <br>
</div>

<script>
    // Add button
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "bag-add" %}',
            data: {
                product_id: $('#add-button').val(),
                product_quantity: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post'
            },
            success: function (json) {
                document.getElementById("bag-qty").textContent = json.qty;
                document.getElementById("redirect-url").value = window.location.pathname;
                window.location.href = '/';

            },
            error: function (xhr, errmsg, err) {

            }

        });
    })
</script>
{% endblock %}