{% extends "./base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <!-- Product image -->
                <img class="img-fluid mx-auto d-block" alt="{{ product.name }}" src="{{ product.image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4">
                    <!-- Product title -->
                    {{ product.name | capfirst}}
                </h1>
                <strong>
                    <!-- Product brand -->
                    {{ product.brand | capfirst }}
                </strong>
                <hr>
                <br>
                <p>
                    <!-- Product description -->
                    {{ product.description | capfirst }}
                </p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6"> Price </div>
                            <div class="col-6 text-end"><span class="h4 fw-bold">£
                                    <!-- Product price -->
                                    {{ product.price }}
                                </span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                <label for="select">Qty</label>
                                &nbsp;
                                <select id="select">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="col-6 text-end">
                                <button type="button" id="add-button" value="{{ product.id }}"
                                    class="btn btn-secondary btn-sm">
                                    Add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="redirect_url" id="redirect-url" value="{{ request.path }}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-9">
                <header class="section-heading">
                    <h3>Customer Reviews</h3>
                </header>
                <article class="box mb-3">
                    <div class="icontent w-100">
                        <img src="" class="img-xs icon rounded-circle">
                        <div class="text">
                            <span class="date text-muted float-md-right"> 21.03.2023</span>
                            <h6 class="mb-1">Judah Nnabuife</h6>
                        </div>
                    </div>
                    <div class="mt-3">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur facilis quod officiis
                            enim similique, doloremque, alias suscipit architecto, ab ducimus tempora iste nostrum nam
                            aliquam itaque mollitia sequi facere. Sed?
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </main>
    <br>
</div>

<script>
    // Add button
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "bag-add" %}',
            data: {
                product_id: $('#add-button').val(),
                product_quantity: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post'
            },
            success: function (json) {
                document.getElementById("bag-qty").textContent = json.qty;
                document.getElementById("redirect-url").value = window.location.pathname;
                window.location.href = '/';

            },
            error: function (xhr, errmsg, err) {

            }

        });
    })
</script>
{% endblock %}