{% extends "./base.html" %}
{% load static %}
{% block content %}

<!-- Introduction section -->
<section class="py-4 text-center container-fluid cover-img">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h4> Gregmedi<strong>wears</strong>....for your comfort at work! </h4>
            <br><br>
            <p class="lead text-muted">
                Browse our extensive collection.
            </p>
            <br><br>
            <a href="#" class="btn btn-primary my-2">Create an account </a>
        </div>
    </div>
</section>

{% endblock %}