{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    body {
        background-color: gray;
    }
</style>

<body>
    <br>
    <div class="container bg-white shadow-md p-5" style="width:500px; border-radius:20px;">
        <form id="payment-form" action="{% url 'checkout' %}" method="POST">
            {% csrf_token %}
            <div>
                <h3> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Complete your
                    order </h3>
                <p> Please enter in the relevant information below. </p>
                <hr>
                <br>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                    {{ shipping_form.full_name | as_crispy_field}}

                    {{ shipping_form.email | as_crispy_field }}

                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                    {{ shipping_form.country | as_crispy_field }}

                    {{ shipping_form.postcode | as_crispy_field }}

                    {{ shipping_form.town_or_city | as_crispy_field }}

                    {{ shipping_form.address1 | as_crispy_field }}

                    {{ shipping_form.address2 | as_crispy_field }}

                    {{ shipping_form.county | as_crispy_field }}

                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this delivery information to my
                            profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-info" href="{% url 'register' %}">Create an account</a> or
                            <a class="text-info" href="{% url 'my-login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>

                </fieldset>

                <fieldset class="px-3">
                    <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>

                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                </fieldset>

                <div class="submit-button text-right mt-5 mb-2">
                    <a href="{% url 'bag-summary' %}" class="btn btn-outline-black rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Adjust Bag</span>
                    </a>
                    <button id="submit-button" class="btn btn-black rounded-0">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>${{ bag.get_total|floatformat:2 }}</strong></span>
                    </p>
                </div>


        </form>
    </div>
    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
    <br>
</body>

{% endblock %}
{% block corejs %}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}