html {
    height: 100%;
}



.cover-img {
    background: url('/media/cover\ image.jpeg') no-repeat center center;
    background-size: cover;
    color: white;
    font-family: 'Lato';
    height: 400px
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}